In [ ]:
# used to iterate over sequence/iterable objects

"""
for <var_name> in <iterable/sequence>:
    <statements>



iterble/objects --> list, string, tuple, dict, type


"""

In [3]:
salaries = [200, 300]

# increase salary of employee fixed 300

salary_hike = 300

for salary in salaries:
    print("Net salary ", salary + salary_hike)

Net salary  500
Net salary  600

In [18]:
# write a prorgam to find how many vowels in given string

company_name = "wipro"

vowels = ['a', 'e', 'i', 'o', 'u']

vowel_count = 0
for char in company_name:
    #print(char)
    if kiran in vowels:
        vowel_count += 1
        print("vowel", kiran)

print("vowels count", vowel_count)

print("----------------------")
# nested loop example
for i in [1, 2, 3]: # i = 3
    for j in [10, 20]: # j = 20
        print(i * j)

vowel o
vowel o
vowel o
vowel o
vowel o
vowels count 5
----------------------
10
20
20
40
30
60

In [10]:
for i in 1000:
    print(i)

TypeError: 'int' object is not iterable

In [12]:
for i in 1000.00:
    print(i)

TypeError: 'float' object is not iterable

In [13]:
# set
data = {1, 2, 3, 4}
for val in data:
    print(val)

1
2
3
4

In [15]:
# dict
data = {"a": 10, "c": 30}
for item, val in data.items():
    print(item, "--->", val)

a ---> 10
c ---> 30

In [24]:
# write a program to print table 10

table_num = 10

for i in range(1, 11):
    
    print(f'{table_num} * {i} = {table_num * i}')
    #out = table_num * i
    #print(out)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [37]:

company_names = ['wipro', 'infosys', 'capgemini', 'tcs', 'oracle']

vowels = ['a', 'e', 'i', 'o', 'u']

for company_name in company_names:
    #print(company)
    vowel_count = 0
    for char in company_name:
        #print(char)
        if char in vowels:
            vowel_count = vowel_count +  1

    print(f"{company_name} vowels count", vowel_count)

wipro vowels count 2
infosys vowels count 2
capgemini vowels count 4
tcs vowels count 0
oracle vowels count 3

In [40]:
# write a program to find numes which are > 100

data = [800, 1, 2, 3,44, 5000, 400, 300, 20, 40 ,22, 500, 600]

out = []


for num in data:
    if num > 100:
        out.append(num)

print(len(out), out)

6 [800, 5000, 400, 300, 500, 600]

In [ ]:
# write a program to print fruit names starts with 'b'
fruits = ['banana', 'oracle', 'berry', 'mango']



# write a program to do all math(+, -, *) operations if num is even number

value = 3

data = [1, 2, 3, 4,5, 5]

In [6]:
# for - else pattern

for i in range(10):
    print(i)
else:
    print("For loop else block")


    
for i in range(10): #0 to 9
    print(i)
    if i == 5:
        break
else:
    print("for loop else block")
    

# when else block of for loop will execute?
"""
Else block will execute only when ther is break statemnet /controlled the loop

"""

0
1
2
3
4
5
6
7
8
9
For loop else block
0
1
2
3
4
5
6
7
8
9
for loop else block

'\nElse block will execute only when ther is break statemnet /controlled the loop\n\n'

In [13]:
# write a program to save object to db
for name in ['ramu', 'Ashok1', 'ravi']:
    print(name, "Saved successfully")
    if name == 'Ashok':
        break
else:
    print("All items saved into db")

ramu Saved successfully
Ashok1 Saved successfully
ravi Saved successfully
All items saved into db